@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

/* Animated Waves */
.wave1 {
  animation: wave-animation-1 20s linear infinite;
}

.wave2 {
  animation: wave-animation-2 25s linear infinite;
}

@keyframes wave-animation-1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes wave-animation-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
